[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Visual FB Editor
Comment=Text Editor
Exec=/media/xusinboy/A8307B1F307AF3A21/FreeBasic/VisualFBEditor/VisualFBEditor
Path=/media/xusinboy/A8307B1F307AF3A21/FreeBasic/VisualFBEditor/
Icon=/media/xusinboy/A8307B1F307AF3A21/FreeBasic/VisualFBEditor/resources/48x48/VisualFBEditor.png
Categories=Text;Editor;
