1 24 "./xpmanifest.xml"
1 ICON "./resources/VisualFBEditor.ico"
B32 Bitmap DISCARDABLE "./resources/B32.bmp"
B64 Bitmap DISCARDABLE "./resources/B64.bmp"
LOGO Bitmap DISCARDABLE "./resources/Logo.bmp"
SELECT CURSOR "./resources/Select.cur"
HAND CURSOR "./resources/Hand.cur"
KURSOR BITMAP DISCARDABLE "./resources/Cursor.bmp"
NEW BITMAP DISCARDABLE "./resources/new.bmp"
OPEN BITMAP DISCARDABLE "./resources/Open.bmp"
SAVE BITMAP DISCARDABLE "./resources/Save.bmp"
SAVEALL BITMAP DISCARDABLE "./resources/SaveAll.bmp"
CLOSE BITMAP DISCARDABLE "./resources/Close.bmp"
ENUM BITMAP DISCARDABLE "./resources/Enum.bmp"
EXIT BITMAP DISCARDABLE "./resources/Exit.bmp"
UNDO BITMAP DISCARDABLE "./resources/Undo.bmp"
REDO BITMAP DISCARDABLE "./resources/Redo.bmp"
CUT BITMAP DISCARDABLE "./resources/Cut.bmp"
COPY BITMAP DISCARDABLE "./resources/Copy.bmp"
PASTE BITMAP DISCARDABLE "./resources/Paste.bmp"
SEARCH BITMAP DISCARDABLE "./resources/Find.bmp"
CODE BITMAP DISCARDABLE "./resources/Code.bmp"
FORM BITMAP DISCARDABLE "./resources/Form.bmp"
CODEANDFORM BITMAP DISCARDABLE "./resources/CodeAndForm.bmp"
COMPILE BITMAP DISCARDABLE "./resources/Compile.bmp"
COMPILEANDRUN BITMAP DISCARDABLE "./resources/CompileAndRun.bmp"
RUN BITMAP DISCARDABLE "./resources/Run.bmp"
START BITMAP DISCARDABLE "./resources/Start.bmp"
STANDARTTYPES BITMAP DISCARDABLE "./resources/StandartTypes.bmp"
PAUSE BITMAP DISCARDABLE "./resources/Pause.bmp"
STOP BITMAP DISCARDABLE "./resources/Stop.bmp"
LIST BITMAP DISCARDABLE "./resources/Try.bmp"
HELP BITMAP DISCARDABLE "./resources/Help.bmp"
ABOUT BITMAP DISCARDABLE "./resources/About.bmp"
FILE BITMAP DISCARDABLE "./resources/File.bmp"
SETTINGS BITMAP DISCARDABLE "./resources/Parameters.bmp"
SyntaxCheck BITMAP DISCARDABLE "./resources/SyntaxCheck.bmp"
Folder BITMAP DISCARDABLE "./resources/Folder.bmp"
Project BITMAP DISCARDABLE "./resources/Project.bmp"
Add BITMAP DISCARDABLE "./resources/Add.bmp"
Remove BITMAP DISCARDABLE "./resources/Remove.bmp"
ERROR BITMAP DISCARDABLE "./resources/Error.bmp"
WARNING BITMAP DISCARDABLE "./resources/Warning.bmp"
COMPONENT BITMAP DISCARDABLE "./resources/Component.bmp"
Label BITMAP DISCARDABLE "./resources/Label.bmp"
DropDown BITMAP DISCARDABLE "./resources/DropDown.bmp"
Property BITMAP DISCARDABLE "./resources/Property.bmp"
Function Bitmap "./resources/Function.bmp"
Sub BITMAP DISCARDABLE "./resources/Sub.bmp"
Bookmark BITMAP DISCARDABLE "./resources/Bookmark.bmp"
Breakpoint BITMAP DISCARDABLE "./resources/Breakpoint.bmp"
Opened BITMAP DISCARDABLE "./resources/Opened.bmp"
Tools BITMAP DISCARDABLE "./resources/Tools.bmp"
Collapsed BITMAP DISCARDABLE "./resources/Collapsed.bmp"
Expanded BITMAP DISCARDABLE "./resources/Expanded.bmp"
Categorized BITMAP DISCARDABLE "./resources/Categorized.bmp"

#define VER_FILEDESCRIPTION_STR     "VisualFBEditor\0"

#define VER_FILEVERSION             1,0,2,1389
#define VER_FILEVERSION_STR         "1.0.2.1389\0"

#define VER_LEGALCOPYRIGHT_STR      "Xusinboy Bekchanov\0"

#define VER_INTERNALNAME_STR        "VisualFBEditor\0"
#define VER_ORIGINALFILENAME_STR    "VisualFBEditor(32,64).exe\0"
#define VER_PRODUCTNAME_STR         "Visual FB Editor\0"

#define VER_LEGALTRADEMARKS1_STR    ""
#define VER_LEGALTRADEMARKS2_STR    ""

#define VER_PRODUCTVERSION          1,0,0,0
#define VER_PRODUCTVERSION_STR      "1.0\0"
#define VER_COMPANYNAME_STR         "Xusinboy Bekchanov\0"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
//FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
//FILEFLAGS       (VER_PRIVATEBUILD|VER_PRERELEASE|VER_DEBUG)
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      VER_COMPANYNAME_STR
            VALUE "FileDescription",  VER_FILEDESCRIPTION_STR
            VALUE "FileVersion",      VER_FILEVERSION_STR
            VALUE "InternalName",     VER_INTERNALNAME_STR
            VALUE "LegalCopyright",   VER_LEGALCOPYRIGHT_STR
            //VALUE "LegalTrademarks1", VER_LEGALTRADEMARKS1_STR
            //VALUE "LegalTrademarks2", VER_LEGALTRADEMARKS2_STR
            VALUE "OriginalFilename", VER_ORIGINALFILENAME_STR
            VALUE "ProductName",      VER_PRODUCTNAME_STR
            VALUE "ProductVersion",   VER_PRODUCTVERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        /* The following line should only be modified for localized versions.     */
        /* It consists of any number of WORD,WORD pairs, with each pair           */
        /* describing a language,codepage combination supported by the file.      */
        /*                                                                        */
        /* For example, a file might have values "0x409,1252" indicating that it  */
        /* supports English language (0x409) in the Windows ANSI codepage (1252). */
        VALUE "Translation", 0x409, 1252
    END
END