1 24 "Manifest.xml"
1 ICON "MDIScintillaControl.ico"
About PNG "..\MDINotepad\Resources\About.png"
Add PNG "..\MDINotepad\Resources\Add.png"
Browser PNG "..\MDINotepad\Resources\Browser.png"
Cascade PNG "..\MDINotepad\Resources\Cascade.png"
Close PNG "..\MDINotepad\Resources\Close.png"
CloseAll PNG "..\MDINotepad\Resources\CloseAll.png"
Color PNG "..\MDINotepad\Resources\Color.png"
Copy PNG "..\MDINotepad\Resources\Copy.png"
Cut PNG "..\MDINotepad\Resources\Cut.png"
DarkMode PNG "..\MDINotepad\Resources\DarkMode.png"
Deleted PNG "..\MDINotepad\Resources\Deleted.png"
Exit PNG "..\MDINotepad\Resources\Exit.png"
File PNG "..\MDINotepad\Resources\File.png"
Find PNG "..\MDINotepad\Resources\Find.png"
FindBack PNG "..\MDINotepad\Resources\FindBack.png"
FindNext PNG "..\MDINotepad\Resources\FindNext.png"
Fonts PNG "..\MDINotepad\Resources\Fonts.png"
Horizontal PNG "..\MDINotepad\Resources\Horizontal.png"
Icons PNG "..\MDINotepad\Resources\Icons.png"
New PNG "..\MDINotepad\Resources\New.png"
Open PNG "..\MDINotepad\Resources\Open.png"
Paste PNG "..\MDINotepad\Resources\Paste.png"
Print PNG "..\MDINotepad\Resources\Print.png"
PrintPreview PNG "..\MDINotepad\Resources\PrintPreview.png"
PrintSetup PNG "..\MDINotepad\Resources\PrintSetup.png"
Redo PNG "..\MDINotepad\Resources\Redo.png"
Replace PNG "..\MDINotepad\Resources\Replace.png"
ReplaceAll PNG "..\MDINotepad\Resources\ReplaceAll.png"
ReplaceFile PNG "..\MDINotepad\Resources\ReplaceFile.png"
Save PNG "..\MDINotepad\Resources\Save.png"
SaveAll PNG "..\MDINotepad\Resources\SaveAll.png"
SaveAs PNG "..\MDINotepad\Resources\SaveAs.png"
StatusBar PNG "..\MDINotepad\Resources\StatusBar.png"
ToolBar PNG "..\MDINotepad\Resources\ToolBar.png"
Undo PNG "..\MDINotepad\Resources\Undo.png"
Vertical PNG "..\MDINotepad\Resources\Vertical.png"
FileSearch PNG "..\MDINotepad\Resources\FileSearch.png"
FileSync PNG "..\MDINotepad\Resources\FileSync.png"
Hash PNG "..\MDINotepad\Resources\Hash.png"

CascadeD PNG "..\MDINotepad\Resources\CascadeD.png"
CloseAllD PNG "..\MDINotepad\Resources\CloseAllD.png"
CloseD PNG "..\MDINotepad\Resources\CloseD.png"
ColorD PNG "..\MDINotepad\Resources\ColorD.png"
CopyD PNG "..\MDINotepad\Resources\CopyD.png"
CutD PNG "..\MDINotepad\Resources\CutD.png"
DarkModeD PNG "..\MDINotepad\Resources\DarkModeD.png"
FindBackD PNG "..\MDINotepad\Resources\FindBackD.png"
FindD PNG "..\MDINotepad\Resources\FindD.png"
FindNextD PNG "..\MDINotepad\Resources\FindNextD.png"
FontsD PNG "..\MDINotepad\Resources\FontsD.png"
HorizontalD PNG "..\MDINotepad\Resources\HorizontalD.png"
IconsD PNG "..\MDINotepad\Resources\IconsD.png"
NewD PNG "..\MDINotepad\Resources\NewD.png"
OpenD PNG "..\MDINotepad\Resources\OpenD.png"
PasteD PNG "..\MDINotepad\Resources\PasteD.png"
RedoD PNG "..\MDINotepad\Resources\RedoD.png"
ReplaceD PNG "..\MDINotepad\Resources\ReplaceD.png"
SaveAllD PNG "..\MDINotepad\Resources\SaveAllD.png"
SaveD PNG "..\MDINotepad\Resources\SaveD.png"
UndoD PNG "..\MDINotepad\Resources\UndoD.png"
VerticalD PNG "..\MDINotepad\Resources\VerticalD.png"


#define APP_TITLE_STR               "MDIScintillaControl\0"
#define VER_FILEDESCRIPTION_STR     "MDIScintillaControl\0"

#define VER_FILEVERSION             0,0,0,1232
#define VER_FILEVERSION_STR         "0.0.0.1232\0"

#define VER_LEGALCOPYRIGHT_STR      "Cm.Wang\0"

#define VER_INTERNALNAME_STR        "MDIScintillaControl\0"
#define VER_ORIGINALFILENAME_STR    "MDIScintillaControl\0"
#define VER_PRODUCTNAME_STR         "MDIScintillaControl\0"

#define VER_PRODUCTVERSION          0,0,0,0
#define VER_PRODUCTVERSION_STR      "0.0.0\0"
#define VER_COMPANYNAME_STR         "Visual FB Editor\0"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
        	VALUE "ApplicationTitle", APP_TITLE_STR
            VALUE "FileDescription",  VER_FILEDESCRIPTION_STR
            VALUE "FileVersion",      VER_FILEVERSION_STR
            VALUE "InternalName",     VER_INTERNALNAME_STR
            VALUE "LegalCopyright",   VER_LEGALCOPYRIGHT_STR
            VALUE "OriginalFilename", VER_ORIGINALFILENAME_STR
            VALUE "ProductName",      VER_PRODUCTNAME_STR
            VALUE "ProductVersion",   VER_PRODUCTVERSION_STR
            VALUE "CompanyName",      VER_COMPANYNAME_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        /* The following line should only be modified for localized versions.     */
        /* It consists of any number of WORD,WORD pairs, with each pair           */
        /* describing a language,codepage combination supported by the file.      */
        /*                                                                        */
        /* For example, a file might have values "0x409,1252" indicating that it  */
        /* supports English language (0x409) in the Windows ANSI codepage (1252). */
        VALUE "Translation", 0x409, 1252
    END
END