//=============================================================================
// Generic project resource file
//=============================================================================


//=============================================================================
// Manifest
//=============================================================================
1 24 ".\manifest.xml"

