/*'#########################################################*/
/*'#  VisualFBEditor.rc                                    #*/
/*'#  This file is part of VisualFBEditor                  #*/
/*'#  Authors: Xusinboy Bekchanov (2018-2019)              #*/
/*'#           Liu XiaLin                                  #*/
/*'#########################################################*/

1 24 "./Manifest.xml"
1 ICON "../resources/VisualFBEditor.ico"
B32 PNG "../resources/B32.png"
B64 PNG "../resources/B64.png"
LOGO PNG "../resources/Logo.png"
Select CURSOR "../resources/Select.cur"
HAND CURSOR "../resources/Hand.cur"
ScrollLeft CURSOR "../resources/ScrollLeft.cur"
ScrollDown CURSOR "../resources/ScrollDown.cur"
ScrollRight CURSOR "../resources/ScrollRight.cur"
ScrollUp CURSOR "../resources/ScrollUp.cur"
Scroll CURSOR "../resources/Scroll.cur"
ScrollLeftRight CURSOR "../resources/ScrollLeftRight.cur"
ScrollUpDown CURSOR "../resources/ScrollUpDown.cur"
KURSOR PNG "../resources/Cursor.png"
New PNG "../resources/new.png"
Open PNG "../resources/Open.png"
SAVE PNG "../resources/Save.png"
SAVEALL PNG "../resources/SaveAll.png"
Close PNG "../resources/Close.png"
Enum PNG "../resources/Enum.png"
Exit PNG "../resources/Exit.png"
UNDO PNG "../resources/Undo.png"
REDO PNG "../resources/Redo.png"
CUT PNG "../resources/Cut.png"
COPY PNG "../resources/Copy.png"
PASTE PNG "../resources/Paste.png"
UP PNG "../resources/Up.png"
DOWN PNG "../resources/Down.png"
SORT PNG "../resources/Sort.png"
FIND PNG "../resources/Find.png"
CODE PNG "../resources/Code.png"
Type PNG "../resources/Type.png"
Console PNG "../resources/Console.png"
FORM PNG "../resources/Form.png"
MainForm PNG "../resources/MainForm.png"
Format PNG "../resources/Format.png"
CODEANDFORM PNG "../resources/CodeAndForm.png"
COMPILE PNG "../resources/Compile.png"
MAKE PNG "../resources/Make.png"
StartWithCompile PNG "../resources/StartWithCompile.png"
StartWithCompileD PNG "../resources/StartWithCompileD.png"
START PNG "../resources/Start.png"
STARTD PNG "../resources/StartD.png"
STANDARTTYPES PNG "../resources/StandartTypes.png"
Break PNG "../resources/Break.png"
BreakD PNG "../resources/BreakD.png"
EndProgram PNG "../resources/End.png"
EndD PNG "../resources/EndD.png"
LIST PNG "../resources/Try.png"
HELP PNG "../resources/Help.png"
ABOUT PNG "../resources/About.png"
FILE PNG "../resources/File.png"
MainFile PNG "../resources/MainFile.png"
Resource PNG "../resources/Resource.png"
MainResource PNG "../resources/MainResource.png"
Module PNG "../resources/Module.png"
MainModule PNG "../resources/MainModule.png"
Parameters PNG "../resources/Parameters.png"
SyntaxCheck PNG "../resources/SyntaxCheck.png"
Folder PNG "../resources/Folder.png"
Numbering PNG "../resources/Numbering.png"
Project PNG "../resources/Project.png"
MainProject PNG "../resources/MainProject.png"
Pin PNG "../resources/Pin.png"
Pinned PNG "../resources/Pinned.png"
Eraser PNG "../resources/Eraser.png"
Add PNG "../resources/Add.png"
Remove PNG "../resources/Remove.png"
Error PNG "../resources/Error.png"
WARNING PNG "../resources/Warning.png"
INFO PNG "../resources/Info.png"
COMPONENT PNG "../resources/Component.png"
Label PNG "../resources/Label.png"
DropDown PNG "../resources/DropDown.png"
Property PNG "../resources/Property.png"
Event PNG "../resources/Event.png"
Function PNG "../resources/Function.png"
Sub PNG "../resources/Sub.png"
Bookmark PNG "../resources/Bookmark.png"
Breakpoint PNG "../resources/Breakpoint.png"
Opened PNG "../resources/Opened.png"
Tools PNG "../resources/Tools.png"
Collapsed PNG "../resources/Collapsed.png"
Expanded PNG "../resources/Expanded.png"
Categorized PNG "../resources/Categorized.png"
Unformat PNG "../resources/Unformat.png"
Comment PNG "../resources/Comment.png"
UnComment PNG "../resources/UnComment.png"
Print PNG "../resources/Print.png"
PrintPreview PNG "../resources/PrintPreview.png"
UseDebugger PNG "../resources/UseDebugger.png"
UserControl PNG "../resources/UserControl.png"
weChat PNG "../resources/weChat.png"
FileError PNG "../resources/FileError.png"

#define VER_FILEDESCRIPTION_STR     "IDE for FreeBasic\0"

#define VER_FILEVERSION             1,2,7,3011
#define VER_FILEVERSION_STR         "1.2.7.3011\0"

#define VER_LEGALCOPYRIGHT_STR      "\0"

#define VER_INTERNALNAME_STR        "\0"
#define VER_ORIGINALFILENAME_STR    "\0"
#define VER_PRODUCTNAME_STR         "Visual FB Editor\0"

#define VER_LEGALTRADEMARKS1_STR    ""
#define VER_LEGALTRADEMARKS2_STR    ""

#define VER_PRODUCTVERSION          1,2,7,0
#define VER_PRODUCTVERSION_STR      "1.2.7\0"
#define VER_COMPANYNAME_STR         "\0"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
//FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
//FILEFLAGS       (VER_PRIVATEBUILD|VER_PRERELEASE|VER_DEBUG)
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      VER_COMPANYNAME_STR
            VALUE "FileDescription",  VER_FILEDESCRIPTION_STR
            VALUE "FileVersion",      VER_FILEVERSION_STR
            VALUE "InternalName",     VER_INTERNALNAME_STR
            VALUE "LegalCopyright",   VER_LEGALCOPYRIGHT_STR
            //VALUE "LegalTrademarks1", VER_LEGALTRADEMARKS1_STR
            //VALUE "LegalTrademarks2", VER_LEGALTRADEMARKS2_STR
            VALUE "OriginalFilename", VER_ORIGINALFILENAME_STR
            VALUE "ProductName",      VER_PRODUCTNAME_STR
            VALUE "ProductVersion",   VER_PRODUCTVERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        /* The following Line should only be modified For localized versions.     */
        /* It consists of Any number of WORD,WORD pairs, With each pair           */
        /* describing a language,codepage combination supported by the file.      */
        /*                                                                        */
        /* For example, a file might have values "0x409,1252" indicating that it  */
        /* supports English language (0x409) in the Windows ANSI codepage (1252). */
        VALUE "Translation", 0x409, 1252
    END
END